In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\admin\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
!pip show selenium

Name: selenium
Version: 4.1.0
Summary:
Home-page: https://www.selenium.dev
Author:
Author-email:
License: Apache 2.0
Location: c:\users\admin\anaconda3\lib\site-packages
Requires: trio, trio-websocket, urllib3
Required-by:

In [3]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\admin\anaconda3\lib\site-packages (1.0.2)

In [4]:
!pip show pymysql

Name: PyMySQL
Version: 1.0.2
Summary: Pure Python MySQL Driver
Home-page: https://github.com/PyMySQL/PyMySQL/
Author: yutaka.matsubara
Author-email: yutaka.matsubara@gmail.com
License: "MIT"
Location: c:\users\admin\anaconda3\lib\site-packages
Requires:
Required-by:

In [6]:
!pip show sqlalchemy

Name: SQLAlchemy
Version: 1.4.22
Summary: Database Abstraction Library
Home-page: https://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: c:\users\admin\anaconda3\lib\site-packages
Requires: greenlet
Required-by:
Name: SQLAlchemy
Version: 1.4.22
Summary: Database Abstraction Library
Home-page: https://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: c:\users\admin\anaconda3\lib\site-packages
Requires: greenlet
Required-by:

In [8]:
my_dict = {}
# {'name':'홍길동'}
my_dict['name'] = '홍길동'
print(my_dict)

{'name': '홍길동'}
{'name': '홍길동'}

In [10]:
my_dict['age'] = 50
print(my_dict)

{'name': '홍길동', 'age': 50}

In [12]:
print(my_dict['name'])

홍길동

In [14]:
my_list = ['aa','bb']
for val in my_list:
    print(val)

aa
bb

In [15]:
print(range(10))
list(range(10))

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
def my_format(value):
    return f'{value:,}'
#value.format(':,')

In [17]:
def my_format3(value):
    return "{:,}".format(value)

In [18]:
my_format3(70000)

'70,000'

In [19]:
my_format(10000)

'10,000'

In [20]:
my_format2 = lambda val:f'{val:,}'

In [21]:
my_format2(30000)

'30,000'

In [22]:
val = (1)
print(type(val))

<class 'int'>

In [23]:
val2 = (1,)
print(type(val2))

<class 'tuple'>

In [25]:
from datetime import date

today = date.today()
print(today)

print(today.year, today.month, today.day)

2022-02-10
2022 2 10

In [27]:
birth_1 = date(1960,1,3)
birth_2 = date(1960,3,4)
print(type(birth_1))
print(birth_1, birth_2)

<class 'datetime.date'>
1960-01-03 1960-03-04

In [29]:
#False(0), True(1)
(7,8) < (5,2)

False

In [30]:
(today.month, today.day) < (birth_1.month, birth_1.day)

False

In [31]:
(today.month, today.day) < (birth_2.month, birth_2.day)

True

In [32]:
# (today.month, today.day) < (birth_1.month, birth_1.day) False이므로 0으로 계산됨
age = today.year - birth_1.year - ((today.month, today.day) < (birth_1.month, birth_1.day))
print(age)

62

In [33]:
# (today.month, today.day) < (birth_2.month, birth_2.day) True이므로 1로 계산됨
age = today.year - birth_2.year - ((today.month, today.day) < (birth_2.month, birth_2.day))
print(age)

61

In [36]:
import pandas as pd

data = {"names": ["soyul", "soyul", "soyul", "Charles", "Charles"],
 "year": [2014, 2015, 2016, 2015, 2016],
 "points": [1.5, 1.7, 3.6, 2.4, 2.9]}

df = pd.DataFrame(data)
df

     names  year  points
0    soyul  2014     1.5
1    soyul  2015     1.7
2    soyul  2016     3.6
3  Charles  2015     2.4
4  Charles  2016     2.9

In [37]:
df['age'] = [10,30,50,40,20]

In [38]:
df

     names  year  points  age
0    soyul  2014     1.5   10
1    soyul  2015     1.7   30
2    soyul  2016     3.6   50
3  Charles  2015     2.4   40
4  Charles  2016     2.9   20