### 행정구역 정보를 읽고, 분석하기
* read_csv() 함수로 csv file 읽어오기
* 특정행과 열을 선택하기
* 컬럼명변경
* 상관관계 분석(인구수와 면적간의 상관관계)
* 시각화

In [3]:
import pandas as pd

data = pd.read_csv('data/data_draw_korea.csv')
print(type(data))
data.head()

<class 'pandas.core.frame.DataFrame'>

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시
3           3   63986        삼척  11  8  1185.80  강원도  삼척시
4           4   76733        속초   9  1   105.25  강원도  속초시

In [4]:
data.tail()

     Unnamed: 0     인구수 shortName  x   y      면적  광역시도 행정구역
224         224  127462        제천  8  10  882.47  충청북도  제천시
225         225   34480        증평  6  11   81.84  충청북도  증평군
226         226   62809        진천  5  11  406.08  충청북도  진천군
227         227  790216        청주  6  12  932.51  충청북도  청주시
228         228  198077        충주  6  10  983.70  충청북도  충주시

In [6]:
data.sample(3)

     Unnamed: 0     인구수 shortName  x   y      면적   광역시도 행정구역
217         217   87904        홍성  2  10  443.90   충청남도  홍성군
133         133  331682      서울도봉  5   1   20.80  서울특별시  도봉구
59           59  330378        진주  6  17  712.62   경상남도  진주시

In [8]:
print(data.shape)
print(data.columns)
print(data.index)

(229, 8)
Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')
RangeIndex(start=0, stop=229, step=1)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          229 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

In [12]:
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [14]:
print('인구수 최대값 ',data['인구수'].max())
print('인구수 최소값 ',data['인구수'].min())
print('인구수 평균값 ',data['인구수'].mean())
print('인구수 표준편차값 ',data['인구수'].std())

인구수 최대값  1125461
인구수 최소값  8392
인구수 평균값  211089.77729257641
인구수 표준편차값  207437.8370475227

In [16]:
#unique한 광역시도명
data['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [17]:
#광역시도 값 row counting
data['광역시도'].value_counts()

경기도        31
서울특별시      25
경상북도       23
전라남도       22
강원도        18
경상남도       18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
대전광역시       5
광주광역시       5
울산광역시       5
제주특별자치도     2
세종특별자치시     1
Name: 광역시도, dtype: int64

In [20]:
#서울특별시에 속한 구에 대한 정보 선택하기
#입력으로 광역시도 이름을 받아서 광역시도에 속한 행정구역정보를 반환하는 함수 만들기

data.loc[data['광역시도'] == '서울특별시'].sort_values(by='인구수',ascending=False).reset_index(drop=True)

    Unnamed: 0     인구수 shortName  x  y     면적   광역시도  행정구역
0          141  615487      서울송파  8  6  33.90  서울특별시   송파구
1          127  554709      서울강서  4  4  41.40  서울특별시   강서구
2          132  547202      서울노원  6  1  35.44  서울특별시   노원구
3          124  526157      서울강남  6  7  39.50  서울특별시   강남구
4          128  484478      서울관악  5  6  29.60  서울특별시   관악구
5          145  464236      서울은평  4  3  29.70  서울특별시   은평구
6          142  453634      서울양천  4  5  17.40  서울특별시   양천구
7          140  434061      서울성북  6  2  24.57  서울특별시   성북구
8          125  432028      서울강동  8  5  24.60  서울특별시   강동구
9          138  407416      서울서초  6  6  47.04  서울특별시   서초구
10         130  401233      서울구로  4  7  20.11  서울특별시   구로구
11         148  391655      서울중랑  8  4  18.50  서울특별시   중랑구
12         135  383917      서울동작  5  5  16.36  서울특별시   동작구
13         136  364232      서울마포  5  4  23.87  서울특별시   마포구
14         143  351837     서울영등포  4  6  24.56  서울특별시  영등포구
15         129  342909      서울광진  7  6  17.05  서울특별시   광진구
16         134  342429     서울동대문  7  4  14.20  서울특별시  동대문구
17         133  331682      서울도봉  5  1  20.80  서울특별시   도봉구
18         126  310292      서울강북  5  2  23.60  서울특별시   강북구
19         137  288543     서울서대문  5  3  17.60  서울특별시  서대문구
20         139  279939      서울성동  7  5  16.85  서울특별시   성동구
21         131  222566      서울금천  5  7  13.01  서울특별시   금천구
22         144  208603      서울용산  6  5  21.87  서울특별시   용산구
23         146  140595      서울종로  6  3  23.90  서울특별시   종로구
24         147  114967      서울중구  6  4   9.96  서울특별시    중구

In [18]:
#서울특별시의 인구수의 평균과 표준편차

print('인구수 평균', data.loc[data['광역시도'] == '서울특별시','인구수'].mean())
print('인구수 표준편차',data.loc[data['광역시도'] == '서울특별시','인구수'].std())

In [ ]:
#경기도의 인구수의 평균과 표준편차를 출력하시오 (함수로 만들어서 출력하기)
#경기도와 서울특별시의 인구수의 표준편차가 어느지역이 더 큰가요? 표준편차가 더 크다면 어떤 의미인지 생각해보기